table.dataTable thead > tr > th.sorting::before, table.dataTable thead > tr > th.sorting_asc::before, table.dataTable thead > tr > th.sorting_desc::before, table.dataTable thead > tr > th.sorting_asc_disabled::before, table.dataTable thead > tr > th.sorting_desc_disabled::before, table.dataTable thead > tr > td.sorting::before, table.dataTable thead > tr > td.sorting_asc::before, table.dataTable thead > tr > td.sorting_desc::before, table.dataTable thead > tr > td.sorting_asc_disabled::before, table.dataTable thead > tr > td.sorting_desc_disabled::before {
    content: "▲"!important;
  }

table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
content: "▼"!important;
}

.brand-logo img{
    height: 64px!important;
}
/* .text-black {
    color: #00a468!important;
    color: rgba(var(--bs-green), var(--bs-text-opacity)) !important;
} */

.tiny_table_style tr th{
    border: none!important;
}
.tiny_table_style th, .tiny_table_style td{
    padding: 0!important;
}
.tiny_table_style img{
    width: 150px!important;
    height: 150px!important;
}
.big_table_style th, .big_table_style td{
    padding: 10px!important;
}
.big_table_style tr th, .big_table_style tr td{
    border: none!important;
}
#characterColor{
    height: 20px;
    width: 20px;
    margin-right: 50px;
}
.tab-head{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
}
.text-skyblu {
    color: #d9e7fb!important;
}
.bold-900{
    font-weight: 900;
}
.bold-700{
    font-weight: 700;
}



/* .card {
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -moz-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -ms-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    transition: background 0.25s ease!important;
    -webkit-transition: background 0.25s ease!important;
    -moz-transition: background 0.25s ease!important;
    -ms-transition: background 0.25s ease!important;
  } */
  .card.card-rounded {
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -moz-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -ms-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
}