.brand-logo img{
    height: 64px!important;
}
/* .text-black {
    color: #00a468!important;
    color: rgba(var(--bs-green), var(--bs-text-opacity)) !important;
} */
.tab-head{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
}
.text-skyblu {
    color: #d9e7fb!important;
}
.bold-900{
    font-weight: 900;
}

.bold-700{
    font-weight: 700;
}
/* .card {
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -moz-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -ms-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    transition: background 0.25s ease!important;
    -webkit-transition: background 0.25s ease!important;
    -moz-transition: background 0.25s ease!important;
    -ms-transition: background 0.25s ease!important;
  } */
  .card.card-rounded {
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -moz-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
    -ms-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33)!important;
}