{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class="col-sm-3 statistics-details py-5 px-4">
        <h4 class="statistics-title">Select Growth Rate</h4>
        <select id="" class="form-select" onchange="optionChanged(this.value)"></select>
    </div>
    <div class="col-sm-9 statistics-details py-5 px-4">
        <h4 id="growth_rate_for_linegraph" class="statistics-title"></h4>
    </div>

</div>
<div class="row">
    <div class="col-lg-12 d-flex flex-column">
      <div class="row flex-grow">
        <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
          <div class="card card-rounded">
            <div class="card-body">
              <div class="mt-5">
                <div id="linegraph1_k"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}