{% extends "base.html" %}
{% block content %}

<div class="col-sm-12">
    <div class="home-tab">
      <div class="d-sm-flex align-items-center justify-content-between border-bottom">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active ps-0" id="first-tab" data-bs-toggle="tab" href="#first" role="tab" aria-controls="overview" aria-selected="true">Bar Chart of Base Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="second-tab" data-bs-toggle="tab" href="#second" role="tab" aria-selected="false">Pie Chart of Gender Rates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="third-tab" data-bs-toggle="tab" href="#third" role="tab" aria-selected="false">Line Graph of Growth Rates</a>
          </li>
        </ul>
      </div>

      <!-- start of all tabs container -->
      <div class="tab-content tab-content-basic">

        <!-- start of 1st tab -->
        <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="overview">
          <div class="row mb-3">
            <div class="col-lg-4 d-flex flex-column">
              <h3 class="tab-head">Select Character</h3>
              <select class="select_pokename card-subtitle form-select" onchange="barPLOTCHANGE(this.value)"></select>
            </div>
            <div class="col-lg-8 d-flex flex-column">
              <h3 class="tab-head">
                <small class="charName text-muted"></small>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body">
                      <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                         <h4 class="card-title card-title-dash"></h4>
                         <h5 class="card-subtitle card-subtitle-dash"></h5>
                        </div>
                      </div>
                      <div class="mt-5">
                        <!-- <div id="barchart"></div> -->
                        <div id="stats_radar"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-md-6 col-lg-12 grid-margin">
                  <div class="card bg-primary card-rounded">
                    <div class="card-body pb-0">
                      <h4 class="card-title card-title-dash text-white mb-4">Base Stats</h4>
                      <div class="row mb-3">
                        <table id="base_stats_for_barchartpage" class="table-responsive big_table_style">
                          <tr id="bs_attack_barchartpage">
                            <th class="text-skyblu bold-900">Base Attack</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>
                          <tr id="bs_def_barchartpage">
                            <th class="text-skyblu bold-900">Base Defence</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>
                          <tr id="bs_hp_barchartpage">
                            <th class="text-skyblu bold-900">Base HP</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>  
                          <tr id="bs_sp_att_barchartpage">
                            <th class="text-skyblu bold-900">Base SP Attack</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>
                          <tr id="bs_sp_def_barchartpage">
                            <th class="text-skyblu bold-900">Base SP Def</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>
                          <tr id="bs_sp_barchartpage">
                            <th class="text-skyblu bold-900">Base Speed</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of 1st tab -->


        <!-- start of  2nd tab -->
        <div class="tab-pane fade show" id="second" role="tabpanel" aria-labelledby="overview">
          <div class="row mb-3">
            <div class="col-lg-4 d-flex flex-column">
              <h3 class="tab-head">Select Character</h3>
              <select id="" class="select_pokename card-subtitle form-select" onchange="barPLOTCHANGE(this.value)"></select>
            </div>
            <div class="col-lg-8 d-flex flex-column">
              <h3 class="tab-head">
                <small class="charName text-muted"></small>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body">
                      <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                         <h4 class="card-title card-title-dash"></h4>
                         <h5 class="card-subtitle card-subtitle-dash"></h5>
                        </div>
                      </div>
                      <div class="mt-5">
                        <div id="gender_pie"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-md-6 col-lg-12 grid-margin">
                  <div class="card bg-primary card-rounded">
                    <div class="card-body pb-0">
                      <h4 class="card-title card-title-dash text-white mb-4">Gender Rates</h4>
                      <div class="row mb-3">
                        <table id="" class="table-responsive big_table_style">
                          <tr id="gr_male">
                            <th class="text-skyblu bold-900">Male Rate</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>
                          <tr id="gr_female">
                            <th class="text-skyblu bold-900">Female Rate</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>
                          <tr id="gr_genderneutral">
                            <th class="text-skyblu bold-900">Gender Neutral Rate</th>
                            <td class="text-skyblu bold-00"></td>
                          </tr>  
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of 2nd tab -->


        <!-- start of 3rd tab -->
        <div class="tab-pane fade show" id="third" role="tabpanel" aria-labelledby="overview">
          <div class="row">
            <div class="row mb-3">
              <div class="col-lg-4 d-flex flex-column">
                <h3 class="tab-head">Select Growth Rate</h3>
              </div>
              <div class="col-lg-8 d-flex flex-column">
                <h3 class="tab-head">
                  <small id="growth_rate_for_linegraph" class="text-muted"></small>
                </h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body">            
                      <div id="linegraph"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex flex-column">
              <div class="row flex-grow">
                <div class="col-md-6 col-lg-12 grid-margin">
                  <div class="card bg-primary card-rounded">
                    <div class="card-body pb-0">
                      <h4 class="card-title card-title-dash text-white mb-4">Maximum Growth Rates</h4>
                      <div class="row mb-3">
                        <table id="" class="table-responsive big_table_style">
                          {% for li in gr_species_gr %}
                            <tr id="gr_s_stats">
                              <th class="text-skyblu bold-900">{{li[0]}}</th>
                              <td class="text-skyblu">{{gr_levels_max_ex[loop.index0][0]}}</td>
                            </tr>
                          {% endfor %}
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--  end of 3rd tab -->


      </div>
      <!-- end of all tabs container -->

    </div>
  </div>


{% endblock %}