<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Poke </title>
  
  <link rel="shortcut icon" href="static/imgs/logo64.png" />
  
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
   
  <!-- datatable css for table stylings -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">


  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/vertical-layout-light/style.css">


  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css"> -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

  <!-- endinject -->
  <!-- Brush css -->
  <link rel="stylesheet" href="static/css/brush.css">

</head>
<body>
  <div class="container-scroller">
   
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/">
            <img src="static/imgs/logo64.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/">
            <img src="static/imgs/logo64.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">the <span class="text-black fw-bold" style="color: #00ac6b!important; font-weight: 900!important;">PandaChams</span></h1>
            <h3 class="welcome-sub-text">Project 3 </h3>
          </li>
        </ul>


        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Home Page</span>
            </a>
          </li>
          <li class="nav-item nav-category">DATA</li>
          <li class="nav-item">
            <a class="nav-link" href="/stats">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Statistics</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#stat-tables" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Tables</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="stat-tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/poke-table">Table Poke</a></li>
                <li class="nav-item"> <a class="nav-link" href="/grspecies-table">Table Growth Rate Species</a></li>
                <li class="nav-item"> <a class="nav-link" href="grlevels-table">Table Growth Rate Levels</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#api-pages" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">APIs</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="api-pages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/api/poke">API Poke</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/api/gr-species">API Growth Rate Species</a></li>
                <li class="nav-item"> <a class="nav-link" target="_blank" href="/api/gr-levels">API Growth Rate Levels</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div id="template_here" class="row">
            <!-- templates will be pushed here -->
            {% block content %}

            {% endblock %}

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <!-- <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"></span> -->

            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
              <a href="https://github.com/LJMData" target="_blank">Lucie Mullany</a>
            </span> |
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
              <a href="https://github.com/DaliChar" target="_blank">Dalitso Sandiyang'ane</a>
            </span> |
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
              <a href="https://github.com/MohammedRizwan-1" target="_blank">Mohammed Rizwan Nawaz</a>
            </span> |
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
              <a href="https://github.com/lilstanli" target="_blank">Stanley Nyarko Aboagye</a>
            </span>

            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">© 2023.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  
  <script src="static/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
  <script src="static/vendors/chart.js/Chart.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> 
 
  <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script> 

  <script src="static/js/app.js"></script>
  <script src="static/js/othercharts.js"></script>
  <script src="static/js/linegraph.js"></script>
  


  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <!-- <script src="static/js/dashboard.js"></script> -->

  <script>
    // enable DataTable functionality
    $(document).ready(function() {
        $('.dbtable').DataTable();
      });
  
    </script>
    <!-- End custom js for this page-->
  
  <!-- End custom js for this page-->
</body>

</html>
